#edit-tile-container {
  background-color: aqua;
  height: 100%;
  width: 100%;
}

#post-edit-container {
  margin-top: 50px;
  min-height: 70vh;
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#post-text-input {
  top: 0;
  padding: 10px;
  width: 600px;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

.tile-top-margin {
  margin-top: 40px !important;
}

.tile-bottom-margin {
  margin-bottom: 40px !important;
}

.tile {
  position: relative;
  margin: 0 100px;
  width: 600px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.auto-grow {
  height: auto;
}

.none-padding {
  padding: 0;
}

#empty-msg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 600px;
  margin: auto;

  border-radius: 5px;
  background-color: rgba(211,211,211,0.6);
  box-shadow: 7px 7px 10px rgba(125, 125, 125, 0.8);
}
